<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google" content="notranslate">
  <title>Curious U</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="./static/css/bootstrap.css">
  <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet"
        href="./static/css/bootstrap-grid.css">
  <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet"
        href="./static/css/bootstrap-reboot.css">
  <link th:href="@{/css/jquery-ui.css}" rel="stylesheet" href="./static/css/jquery-ui.css">
  <link th:href="@{/css/jquery-ui.structure.css}" rel="stylesheet"
        href="./static/css/jquery-ui.structure.css">
  <link th:href="@{/css/jquery-ui.theme.css}" rel="stylesheet"
        href="./static/css/jquery-ui.theme.css">
  <link th:href="@{/css/assistant.css}" rel="stylesheet" href="./static/css/assistant.css">
  <!-- The below is required for Google Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link
      rel="stylesheet"
      href="https://unpkg.com/tippy.js@6/animations/scale.css"
  />
</head>

<body style="overflow: hidden">
<img src="static/images/apple2.jpeg" id="apple2" style="display: none">
<img src="./static/images/dino.png" id="dino" style="display: none">
<img src="./static/images/balloon.png" id="balloon" style="display: none">
<img src="./static/images/bell.png" id="bell" style="display: none">
<img src="./static/images/bird.png" id="bird" style="display: none">
<img src="./static/images/cat.png" id="cat" style="display: none">
<img src="./static/images/coin.png" id="coin" style="display: none">
<img src="./static/images/kite.png" id="kite" style="display: none">
<img src="./static/images/hotdog.png" id="hotdog" style="display: none">
<img src="./static/images/lion.png" id="lion" style="display: none">
<img src="./static/images/rose.png" id="rose" style="display: none">
<img src="./static/images/shark.png" id="shark" style="display: none">
<img src="./static/images/trex.png" id="trex" style="display: none">
<img src="./static/images/whale.png" id="whale" style="display: none">
<img src="./static/images/apple2.png" id="apple" style="display: none">
<!--<body>-->
<div class="container-fluid">
  <div class="row">
    <canvas id="secondCanvas" resize
            style="height: 100vh;width: 100vw;z-index:-2;position: absolute;background-color: #f8d7da"></canvas>
    <canvas id="myCanvas" resize
            style="height: 100vh;width: 100vw;z-index: 10;background-color: white"></canvas>


    <!--Search box -->
    <div class="searchbox">
      <div class="search">
        <input type="text" class="searchTerm" placeholder="Type .. 'show 2+3=5'">
        <button type="submit" class="searchButton">
          <i class="material-icons">search</i>
        </button>
      </div>
    </div>
    <div class="searchresults">
    </div>


    <div class="side-tool-panel">
      <ul>
        <li>
          <div id="free_hand_mode" class="icon-container">
            <i class="material-icons">swap_calls</i>
          </div>
        </li>
        <li>
          <div id="straight_lines_mode" class="icon-container">
            <i class="material-icons">polymer</i>
          </div>
        </li>
        <li>
          <div id="select_mode" class="icon-container">
            <i class="material-icons lines">touch_app</i>
          </div>
        </li>
        <li>
          <div id="highlight_mode" class="icon-container">
            <i class="material-icons">highlight</i>
          </div>
        </li>
        <!--        <li>-->
        <!--          <div id="clear_grid_command" class="icon-container">-->
        <!--            <i class="material-icons">border_clear</i>-->
        <!--          </div>-->
        <!--        </li>-->
        <li>
          <div id="pdf_viewer" class="icon-container">
            <i class="material-icons">picture_as_pdf</i>
          </div>
        </li>
                <li>
                  <div id="slicer_mode" class="icon-container">
                    <i class="material-icons">content_cut</i>
                  </div>
                </li>

        <li>
          <div id="empty_mode" class="icon-container">
            <i class="material-icons">highlight_alt</i>
          </div>
        </li>

        <!--        <li>-->
        <!--          <div class="icon-container">-->
        <!--            <i class="material-icons">text_fields</i>-->
        <!--          </div>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <div class="icon-container">-->
        <!--            <i class="material-icons">undo</i>-->
        <!--          </div>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <div class="icon-container">-->
        <!--            <i class="material-icons">undo</i>-->
        <!--          </div>-->
        <!--        </li>-->
      </ul>
    </div>

    <!--   start of bottom panel-->
    <div class="bottom-panel" style="display: none">
      <ul>
        <li>
          <div id="previous" class="icon-container">
            <i class="material-icons">navigate_before</i>
          </div>
        </li>
        <li>
          <div id="next" class="icon-container">
            <i class="material-icons">navigate_next</i>
          </div>
        </li>
      </ul>
    </div>
    <!--    end of bottom panel-->

    <!--   start of text area -->
    <div class="edit-text" style="display:none;">
      <div id="mf"
           style="font-size: 3em;font-family: 'Times New Roman, Symbola, serif';min-width: 100px" ;
           data-command='["applyStyle",{"color":"#cc2428"}]'></div>
    </div>
    <!--    end of text area-->

  </div>
</div>

<!-- All the 3p scripts tag goes here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.4.456/build/pdf.min.js"></script>
<script th:src="@{/js/database.js}" src="./static/js/database.js"></script>
<script th:src="@{/js/jquery-ui.js}" src="./static/js/jquery-ui.js"></script>
<script th:src="@{/js/paper-full.js}" src="./static/js/paper-full.js"></script>
<script th:src="@{/js/bootstrap.js}" src="./static/js/bootstrap.js"></script>
<script th:src="@{/js/bootstrap.bundle.js}" src="./static/js/bootstrap.bundle.js"></script>
<script src="./static/js/math.min.js"></script>
<script src="./static/js/algebra-0.2.6.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<!--<script src="https://unpkg.com/mathlive/dist/mathlive.js"></script>-->

<script>
  <!--All the defaults and constants goes here-->
  const modes = {
    FREE_HAND: 'free_hand',
    LINES: 'straight_lines',
    HIGHLIGHT: 'highlight',
    SELECT_MODE: 'select_mode',
    SLICER_MODE: 'slicer_mode',
    EDIT_MATH: 'edit_math',
    EMPTY_MODE: 'empty_mode'
  }
  let defaultMode = modes.FREE_HAND;
  let currentConfig = new Object();
  var context = new Object();
  currentConfig.mode = defaultMode;

  currentConfig.showGrid = true;

  tippy('#free_hand_mode', {
    content: 'Free hand drawing!',
    placement: 'right',
    offset: [0, 20],
  });

  tippy('#straight_lines_mode', {
    content: 'Draw Straight Lines!',
    placement: 'right',
    offset: [0, 20],
  });

  tippy('#select_mode', {
    content: 'Select objects and move around or delete!',
    placement: 'right',
    offset: [0, 20],
  });

  tippy('#highlight_mode', {
    content: 'Highlight area!',
    placement: 'right',
    offset: [0, 20],
  });

  tippy('#slicer_mode', {
    content: 'Slice Objects through!',
    placement: 'right',
    offset: [0, 20],
  });

  tippy('#pdf_viewer', {
    content: 'Upload pdf!',
    placement: 'right',
    offset: [0, 20],
  });


  $(document).bind('pagination', function (event, pageInfo) {
    console.log("Hurray  " + pageInfo);
    $(".bottom-panel").css('display', 'block');
  })

</script>

<script type="module">
  import './static/js/assistant-paper-core.js';
  import {Modes} from './static/ts/modes/modes.js'
  // import {Context} from './static/ts/context.js';


  currentConfig.selectedMode = Modes.FREEHAND_MODE;
  $("#free_hand_mode").addClass("active");
  import MathLive from './exp/mathlive.mjs';
  import {Config} from './static/ts/config.js';
  // import MathField from 'https://unpkg.com/mathlive/dist/mathlive.mjs';

  let config = new Config();

  if (config.isTextModeEnabledOnDblClick()) {
    $('#myCanvas').dblclick(function (event, eventData) {
      console.log("  ---------- canvas double clicked called");
      currentConfig.mode = modes.EDIT_MATH;
      currentConfig.selectedMode = Modes.TEXT_EDIT;
      $(document).trigger('mode_changed', currentConfig.mode);
      console.log("Double Click @  points : " + event);
      $(".edit-text").css('display', 'block');
      $(".edit-text").css('top', event.clientY);
      $(".edit-text").css('left', event.clientX);
      $(".icon-container").removeClass('active');

      if (config.isMathliveEnabledForTextMode()) {
        const mf = MathLive.makeMathField('mf', {
          fontsize: 100,
          // placeholder:'Type text here',
          onContentDidChange: (mf) => {
            console.log("content changed");
          },

        });
        let insertOptions = {placeholder: 'Type Text here'};
        mf.$insert('Type here', insertOptions);
      } else {
        $("#mf").attr('contenteditable', 'true');

        // $(".edit-text").attr('contenteditable', 'true');
      }

      $('#mf').focusout(function () {
        console.log('mathfield focus out');
        let y = parseInt($(".edit-text").css('top'), 10);
        let x = parseInt($(".edit-text").css('left'), 10);
        let width = parseInt($(".edit-text").css('width'), 10);
        let height = parseInt($(".edit-text").css('height'), 10);
        console.log("TextField : point x: " + x + " ,y : " + y + " width:" + width + "  , height:"
            + height);
        console.log(
            "TextField : point " + new Point(x, y) + " size : " + new paper.Size(width, height));
        console.log("PointText : Value " + $('#mf').text());

        // font-size: 3rem;font-family: 'Times New Roman, Symbola, serif'
        // let rect = new Path.Rectangle(new Point(x,y), new paper.Size(width, height));
        // rect.fillColor = 'yellow';

        var text = new PointText(new Point(x + width / 2, y + height / 2 + 15));
        text.justification = 'center';
        text.fillColor = 'black';
        text.content = $('#mf').text();
        text.fontSize = '3em';
        text.fontFamily = 'Times New Roman, Symbola, serif';
        $(".edit-text").css('display', 'none');
        let cloneText = $(".edit-text").clone();
        $('#mf').text('');

        text.onDoubleClick = function (event) {
          console.log("  ---------- pointext double clicked called");
          event.preventDefault();
        };

      });

    });
  }
  $(".icon-container").click(function () {
    $(".icon-container").removeClass('active');
    $(this).addClass("active");
  })

  $("#empty_mode").click(function () {
    $(document).trigger('mode_changed_v2', {'prev':currentConfig.selectedMode, 'next':Modes.EMPTY_MODE});
    currentConfig.mode = modes.EMPTY_MODE;
    currentConfig.selectedMode = Modes.EMPTY_MODE;
    console.log("empty  mode selected");
    $(document).trigger('mode_changed', currentConfig.mode);
  });


  $("#slicer_mode").click(function () {
    $(document).trigger('mode_changed_v2', {'prev':currentConfig.selectedMode, 'next':Modes.SLICER_MODE});
    currentConfig.mode = modes.FREE_HAND;
    currentConfig.selectedMode = Modes.SLICER_MODE;
    console.log("free hand mode selected");
    $(document).trigger('mode_changed', currentConfig.mode);
  });

  $("#free_hand_mode").click(function () {
    $(document).trigger('mode_changed_v2', {'prev':currentConfig.selectedMode, 'next':Modes.FREEHAND_MODE});
    currentConfig.mode = modes.FREE_HAND;
    currentConfig.selectedMode = Modes.FREEHAND_MODE;
    console.log("free hand mode selected");
    $(document).trigger('mode_changed', currentConfig.mode);
  });

  $("#straight_lines_mode").click(function () {
    $(document).trigger('mode_changed_v2', {'prev':currentConfig.selectedMode, 'next':Modes.LINE_MODE});
    currentConfig.mode = modes.LINES;
    currentConfig.selectedMode = Modes.LINE_MODE;
    console.log("straight line mode selected");
    $(document).trigger('mode_changed', currentConfig.mode);
  });

  $("#highlight_mode").click(function () {
    $(document).trigger('mode_changed_v2', {'prev':currentConfig.selectedMode, 'next':Modes.HIGHLIGHT_MODE});
    currentConfig.mode = modes.HIGHLIGHT;
    currentConfig.selectedMode = Modes.HIGHLIGHT_MODE;
    console.log("highlight  mode selected");
    context.getSettings().getHighLightConfig().setBorderEnabled(false);
    context.getSettings().getHighLightConfig().setLeaveMark(false);
    context.getSettings().getHighLightConfig().setFcousRadius(40);
    $(document).trigger('mode_changed', currentConfig.mode);
  });

  $("#select_mode").click(function () {
    $(document).trigger('mode_changed_v2', {'prev':currentConfig.selectedMode, 'next':Modes.SELECTION_MODE});
    currentConfig.mode = modes.SELECT_MODE;
    currentConfig.selectedMode = Modes.SELECTION_MODE;
    console.log("select mode selected");
    $(document).trigger('mode_changed', currentConfig.mode);
  });

  $("#pdf_viewer").click(function () {
    // currentConfig.mode = modes.SELECT_MODE;
    // currentConfig.selectedMode = Modes.SELECTION_MODE;
    console.log("select mode selected");
    // $(document).trigger('pdf_viewer', 'monday_phonics_week_10.pdf');
    $(document).trigger('pdf_viewer', 'sp_T1A.pdf');
  });

  $("#next").click(function () {
    $(document).trigger('next_page');
  })
  $("#previous").click(function () {
    $(document).trigger('previous_page');
  })

  // Storage options
  if (typeof (Storage) !== "undefined") {
    console.log("Webstorage supported");
    localStorage.setItem("alldata", JSON.stringify(getAllData()));
  } else {
    console.log("No Webstorage support");
  }
  var alldata = JSON.parse(localStorage.getItem("alldata"));
  console.log("getAllData " + alldata[0].description);

  var imageUrl = "https://i.imgur.com/FY6a4Yv.jpg";

  $(document).ready(function () {
    console.log("ready!");

    // Make sure this code gets executed after the DOM is loaded.
    $(".searchTerm").keyup(event => {
      if (event.key !== "Enter") {
        return;
      } // Use `.key` instead.
      $(".searchButton").click(); // Things you want to do.
      event.preventDefault(); // No need to `return false;`.
    });
  });

  $(".searchButton").click(function () {
    let command = $('.searchTerm').val();
    console.log("Executing Command : " + command);
    $(document).trigger('command', command);
    $("#select_mode").click();
    // $.each(alldata, function (index, value) {
    //   var styleStr = "background-image:url(\"" + value.imageUrl + "\")";
    //   $(".searchresults").append("<div class='results-container'><div style='" + styleStr
    //       + "'   class='image-ext '> </div> <div class='text-ext'>" + value.description
    //       + "</div></div>");
    // });
  });
  // alert(localStorage.getItem("alldata").description);
  //
  // var imageUrl = "./static/images/dime.png";

  $(".btn-dime").css("background-size", "100px 100px");
  $(".btn-dime").css("background-image", "url(" + imageUrl + ")");
  $(function () {
    $(".my-drag").draggable({
      helper: "clone"
    });
    $("#myCanvas").droppable({
      drop: function (event, ui) {
        var url = $(ui.draggable).first().children().css('background-image');
        var tempParts = url.split('\"');
        var currentImage = tempParts[1];
        $("#myCanvas").css("background-image", url);
        var canvas = document.getElementById('myCanvas');

        $("#myCanvas").css("background-size", "933px 620px");
        $("#myCanvas").css("background-position", "center");
        $("#myCanvas").css("background-repeat", "no-repeat");
        console.log("drop event happend " + ui);
      }
    });
  });
  var state = 0;
  $("#myCanvas").mousedown(function () {
    state = 1;
    // console.log("Mousedown function on canvas called");
  });
  $("#myCanvas").mouseup(function (event) {
    // console.log(event);
    // console.log("Mouseup function on canvas called");
    if (state == 0) {
      console.log("Maybe drag happened ");
    }
    state = 0;
  });
  $(".searchTerm").focusin(function () {
    $(".searchbox").css('background-color', '#ffffff');
    console.log("Search button clicked focusin");
  });
  $(".searchTerm").focusout(function () {
    $(".searchbox").css('background-color', '#f4f6f8');
    console.log("Search button  focusout");
  });

  $(document).bind("sliced", ()=> {
    $(document).trigger('mode_changed_v2', {'prev':currentConfig.selectedMode, 'next':Modes.EMPTY_MODE});
    currentConfig.mode = modes.EMPTY_MODE;
    currentConfig.selectedMode = Modes.EMPTY_MODE;
    $(document).trigger('mode_changed', currentConfig.mode);
    $(".icon-container").removeClass('active');
    // $("#highlight_mode").click();
    // context.getSettings().getSelectionConfig().setMultiSelectionEnabled(true);
    // context.getSettings().getHighLightConfig().setBorderEnabled(false);
    // context.getSettings().getHighLightConfig().setLeaveMark(false);
    // context.getSettings().getHighLightConfig().setFcousRadius(10);
  });

</script>
</body>
</html>