<!DOCTYPE html>
<html lang="en-US">
<head>
  <link
      rel="stylesheet"
      href="https://unpkg.com/mathlive/dist/mathlive.core.css"
  />
  <link
      rel="stylesheet"
      href="https://unpkg.com/mathlive/dist/mathlive.css"
  />
</head>
<body>
<div id="mf" data-command='["applyStyle",{"color":"#cc2428"}]'>f(x)=</div>

<script type="module">
  import MathLive from 'https://unpkg.com/mathlive/dist/mathlive.mjs';
  import Core from 'https://unpkg.com/mathlive/dist/core.d.ts';
  const mf = MathLive.makeMathField('mf', {
    fontsize: 100,
    onContentDidChange: (mf) => {
      console.log(mf.$text());
    },

  });
  mf.$applyStyle({"color":"#cc2428"});
  console.log(Core);
</script>
</body>
</html>